{% extends "base.html"%}
{% block content %}
    <h1>Create a Blog Post</h1>    
    <ol>
        <li><a href="blog">Blog Feed</a></li>
        <li><a href="new_post">Create A Post</a></li>
    </ol>
    <form action='/new_post' method="POST">
        <label>Post Title
            <input type="text" name="post_title"/>
            <p class="error">{{error1}}</p>
        </label>
        <label> What Will You Post?
            <textarea name="post_content"></textarea>
            <p class="error">{{error2}}</p>
        </label>
        <input type="submit" value="Post">
    </form>
{% endblock %}