{% extends "base.html" %}
{% block content %}
    <h1>{{user}}'s Blog Posts</h1>
    {% if all_blogs|length == 0 %}
    <p>There are currently no blog posts from this user.</p>
    {% else %}
        <ul>
            {% for blog in all_blogs %}
                <h2><a href="./blog?id={{blog.id}}">{{blog.title}}</a></h2>
                <p>{{blog.content}}</p>
                <p>Written by <a href="./blog?username={{blog.user.username}}">{{blog.user.username}}</a></p>
                <input type="hidden" name="blog_id" value="{{blog.id}}"/>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}